.App{
  background-color: #71c9ce;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.container {
  position: relative;
  max-width: 55vw;
  min-width: 550px;
  margin: 50px auto;
  padding: 5px;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
.inputContainer{
  display: flex;
  justify-content: space-around;
}
.subcontainer {
  min-height: 70px;
  display: flex;
  width: auto;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.subcontainer:last-child {
  border-bottom: 0;
}


input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #679b9b;
}

input[type="checkbox"] {
  text-align: center;
  left: 0;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #71c9ce;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  margin: 10px;
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 60%;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #679b9b;
}

::placeholder {
  color: grey;
  opacity: 1;
}